
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>signiup</h3>

     <form action="signup"    method="post">
        {%  csrf_token  %}
        <label for="">username</label>
        <input type="text" id="username" name="username" placeholder="create a name">
         <br>
        <label for="">first name</label>
        <input type="text" id="fname" name="fname" placeholder="first name">
        <br>
        <label for="">second name</label>
        <input type="text" id="lname" name="lname" placeholder="second name">
        <br>
        <label for="">email</label>
        <input type="email" id="email" name="email" placeholder="enter email">
        <br>
        <label for="">password</label>
        <input type="password" id="pass1" name="pass1" placeholder="password">
        <br>
        <label for="">confirm password</label>
        <input type="password" id="pass2" name="pass2" placeholder="confirm password">
        <br>
        <button type="submit">signup</button>

     </form>
    
</body>
</html>